:root {
    --color1: rgba(158, 42, 246, 0.852);
    --color2: rgba(113, 27, 27, 0.264);
    --box-shadow: #000;
    --toggler-color: #fff;
    --toggler-active: #333;

    /*----Light theme colors----*/
    --light-theme: #fff;
    --display-color-light: #0a1e23;
    --background-color-clear-light: #ffd5d8;
    --color-clear-light: #fc4552;
    --background-color-number-light: #c3eaff;
    --color-number-light: #000;
    --background-color-operator-light: #ffd0fd;
    --color-operator-light: #f967f3;
    --background-color-equal-light: #adf9e7;
    --color-equal-light: #000;

    /*-----Dark theme colors-----*/
    --dark-theme: #071115;
    --display-color-dark: #f8fafd;
    --background-color-clear-dark: #2d191e;
    --color-clear-dark: #bd3740;
    --background-color-number-dark: #1b2f38;
    --color-number-dark: #f8fafb;
    --background-color-operator-dark: #2e1f39;
    --color-operator-dark: #aa00a4;
    --background-color-equal-dark: #223323;
    --color-equal-dark: #fff;
}

/*Target all tags with the "*" operator*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

/*Style the body tag*/
body {
    font-family: Poppins;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-image: linear-gradient(360deg, var(--color1), var(--color2));
}
/*Styling the container class*/
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
/*Styles the calculator class*/
.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px var(--box-shadow);
}
/*Styles the theme toggler*/
.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: var(--toggler-color);
    z-index: 1;
    cursor: pointer;
}
/*Styles the toggle when active*/
.theme-toggler.active {
    color: var(--toggler-active);
}
/*pseudo element before the toggler*/
.theme-toggler.active::before {
    background-color: #fff;
}

/*pseudo element before the */
.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background-color: #333;
    z-index: -1;
}

/*Styles the display*/
#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

/*Targets the scroll bar*/
#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}
/*Styles the size of buttons*/
button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s ease;
}
/*Sets the action on hover over the button*/
button:hover {
    transform: scale(1.1);
}
/*Styles the = button*/
button#equal {
    height: 130px;
}

/* ------Light Theme-------*/

/*Styles the background color of the calculator to
white */
.calculator {
    background-color: var(--light-theme);
}
/*Styles the color of display*/
.calculator #display {
    color: var(--display-color-light);
}
/*Styles the clear button*/
.calculator button#clear {
    background-color: var(--background-color-clear-light);
    color: var(--color-clear-light);
}
/*Styles the button number*/
.calculator button.btn-number {
    background-color: var(--background-color-number-light);
    color: var(--color-number-light);
}
/*Styles the operator buttons*/
.calculator button.btn-operator {
    background-color: var(--background-color-operator-light);
    color: var(--color-operator-light);
}
/*Styles the equal button*/
.calculator button.btn-equal {
    background-color: var(--background-color-equal-light);
    color: var(--color-equal-light);
}

/*------- Dark Theme ---------*/

/*Styles the background of calculator*/
.calculator.dark {
    background-color: var(--dark-theme);
}
/*Styles the color of display*/
.calculator.dark #display {
    color: var(--display-color-dark);
}
/*Styles the clear button*/
.calculator.dark button#clear {
    background-color: var(--background-color-clear-dark);
    color: var(--color-clear-dark);
}
/*styles the button number*/
.calculator.dark button.btn-number {
    background-color: var(--background-color-number-dark);
    color: var(--color-number-dark);
}
/*Styles the opeator buttons*/
.calculator.dark button.btn-operator {
    background-color: var(--background-color-operator-dark);
    color: var(--color-operator-dark);
}
/*styles the equal button*/
.calculator.dark button.btn-equal {
    background-color: var(--background-color-equal-dark);
    color: var(--color-equal-dark);
}